# [dbo].[DadosClientes]

In [0]:
USE [Cadastro]
GO

In [0]:
/****** Object:  Table [dbo].[DadosClientes]    Script Date: 10/06/2022 20:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DadosClientes](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[cpf] [varchar](100) NULL,
	[telefone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[DadosClientes] ON 
INSERT [dbo].[DadosClientes] ([Codigo], [Nome], [cpf], [telefone]) VALUES (5, N'Luiz', N'404.416.860-10', N'1111111111')
INSERT [dbo].[DadosClientes] ([Codigo], [Nome], [cpf], [telefone]) VALUES (6, N'Edu', N'248.060.950-28', N'203516478')
INSERT [dbo].[DadosClientes] ([Codigo], [Nome], [cpf], [telefone]) VALUES (7, N'asdsadsad', N'248.060.950-28', N'2546565646')
SET IDENTITY_INSERT [dbo].[DadosClientes] OFF
GO